---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blogs');
---

<StarlightPage  frontmatter={{title: "博客列表", description: "所有博客文章"}} hasSidebar={false}>
  <h1>博客文章列表</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</StarlightPage>